* {
    font-style: italic;
    font-family: cursive;
}

body {
    /* background-color: rgb(1, 77, 100); */
    background-color: rgb(0, 0, 0);
    /* position: fixed; */
}

.bd-example {
    font-style: oblique;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.card:hover {
    /* background-color: lawngreen; */
    /* cursor: pointer; */
    box-shadow: 0 4px 8px 0 rgb(241, 239, 239), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.row {
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 85px;
    /* font-style: italic; */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 850px) {
    .column {
        width: 100%;
        /*50*/
        display: block;
        margin-bottom: 20px;
    }
    .btn2 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.418);
    padding: 10px;
    text-align: center;
    background-color: #092650;
    border-color: #fdd92a;
    border-width: 2px;
    border-style: groove;
    border-radius: 2px;
}

.responsive {
    width: 100%;
    height: auto;
}

.btn2 {
    background-color: #fdd92a;
    width: 100%;
    border-color: #000000;
    border-width: 2px;
    border-style: groove;
    color: black;
}

.btn2:hover {
    background-color: #fae475;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.418);
}

.row2 {
    margin: 10px;
    padding: 80px;
}

.checked {
    color: orange;
    padding-top: 15px;
}

.checked2 {
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

#notSeries {
    opacity: 0.8;
}

#notSeries:hover {
    opacity: 1;
}